Write an SQL query to find the radius and temperature of the stars in the Star table that are larger than our sun

In [ ]:
SELECT radius, t_eff FROM Star
WHERE radius > 1;

 Write a range query which returns the ```kepler_id``` and the ```t_eff``` attributes of all those stars in the Star table whose temperature lies between 5000 and 6000 Kelvin (inclusive)

In [ ]:
SELECT kepler_id, t_eff FROM Star
WHERE t_eff BETWEEN 5000 AND 6000;

Write a query to find the ```kepler_name``` and ```radius``` of each planet in the ```Planet``` table which is a confirmed exoplanet, meaning that their ```kepler_name``` is not NULL, or, equivalently, whose status is 'CONFIRMED'.

Restrict your results to those planets whose radius lies between one and three earth radii, and remember that the radius of the planets is relative to the earth radius.

In [ ]:
SELECT kepler_name, radius FROM Planet
WHERE kepler_name IS NOT NULL AND radius BETWEEN 1 AND 3;

Write a query that calculates the below for unconfirmed planets in the Planet table:

*   manimum radius
*   maximum radius
*   average radius
*   standard deviation of the radii

In [ ]:
SELECT MIN(radius), MAX(radius), AVG(radius), STDDEV(radius)
FROM Planet
WHERE kepler_name IS NULL;

Find out how many planets in the Planet database are in a multi-planet system. Planets sharing the same star will have the same ```kepler_id```, but different ```koi_name``` (Kepler Object if Interest) values.

Your query should return a table in which each row contains the ```kepler_id``` of the star and the number of planets orbiting that star.

In [ ]:
SELECT kepler_id, COUNT(koi_name)
FROM Planet
GROUP BY kepler_id
HAVING COUNT(koi_name) > 1
ORDER BY COUNT(koi_name) DESC
;

Write a query that returns the radius of each star and planet pair whose radii have a ratio greater than the Sun-to-Earth radius ratio. Order the results in descending order based on the stellar radii. Use sun_radius and planet_radius as attribute aliases for the star and planet radii.

In [ ]:
SELECT s.radius AS sun_radius, p.radius AS planet_radius
FROM Star AS s, Planet AS p
WHERE s.kepler_id = p.kepler_id AND s.radius > p.radius
ORDER BY s.radius DESC
;

Write a query which counts the number of planets in each solar system where the corresponding stars are larger than our sun (i.e. their radius is larger than 1).

Your query should return the star's radius and its number of planets, showing only rows where the number of planets is more than one. Sort the rows in descending order based on the star radii.

In [ ]:
SELECT Star.radius AS radius, COUNT(Planet.kepler_id) AS count
FROM Star
JOIN Planet ON Planet.kepler_id = Star.kepler_id
WHERE Star.radius >= 1
GROUP BY Star.kepler_id
HAVING COUNT(Planet.kepler_id) > 1
ORDER BY radius DESC
;



---

*https://exoplanetarchive.ipac.caltech.edu/docs/API_kepcandidate_columns.html*